[Unit]
Description=Run Project Watchtower self checks every 5 minutes

[Timer]
OnBootSec=4min
OnCalendar=*-*-* *:03/5:00
AccuracySec=30s
Persistent=false

[Install]
WantedBy=timers.target
